/* 
    Document   : customStyle
    Created on : Aug 6, 2013, 11:15:35 AM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.
        devloper changes
*/

.cirlce_part {
    display: none;
}
.back_to_up_contact  {
    z-index: 10;
}
.left_contact textarea {
    color: white;
    width: 100%;
}
input[type=button],input[type=submit] {
    cursor: pointer;
}
.left_contact input[type=submit] { padding: 0; margin: 5px 0 0 0; float:right; background:#2f2f2f; font-size:22px; font-family: Ball; color:#ffb619; border:none; width:30%; height:26px; }

.contact_input label,div#captcha a {
    color: #FFFFFF;
    font-family: MyraidPro Regular;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
div#captcha a{margin-left: 5px;}
div#captcha input[type=text] {
    background: none repeat scroll 0 0 #2F2F2F;
    border: medium none;
    color: #FFFFFF;
    height: 26px;
    width: 100%;
	margin: 20px 0 0 0;
}
div.contact_input input[type=text].error,div#captcha input[type=text].error {
    background:red !important;
}
div.errorMessage {
    color: red;
    font-family: MyraidPro Regular;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.flash-message {
    color: white;
    font-family: MyraidPro Regular;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.contact_us_part h2 span {
    font-size: 67.89px;
}
.cirlce_data section img.left_arrow,.cirlce_data section img.right_arrow{
    cursor: pointer;
}
.cirlce_data {
    overflow: auto;
}
.cross_img img {
    margin: 0;
}
#cirlce_part_scroller {
    height: 500px;
    width: 500px;
}
/** Coin Slider additional styles **/
.cs-buttons a {
    border-radius: 50%;
    background: #CCC;
    background: -webkit-linear-gradient(top,  #CCCCCC, #F3F3F3); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #CCCCCC, #F3F3F3); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #CCCCCC, #F3F3F3); /* opera */
    background:     -ms-linear-gradient(top,  #CCCCCC, #F3F3F3); /* IE10 */
    background:         linear-gradient(top,  #CCCCCC, #F3F3F3); /* css3 */      
}
a.cs-active {
    background: #f0b919;
    background: -webkit-linear-gradient(top,  #f0b919, #a07804); /* webkit browsers */
    background:    -moz-linear-gradient(top,  #f0b919, #a07804); /* firefox 3.6+ */
    background:      -o-linear-gradient(top,  #f0b919, #a07804); /* opera */
    background:     -ms-linear-gradient(top,  #f0b919, #a07804); /* IE10 */
    background:         linear-gradient(top,  #f0b919, #a07804); /* css3 */  
    border-radius: 50%;    
    box-shadow: 0 0 3px #a07804;   
    border: 1px solid #a07804 !important;     
}
.middle_banner {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.big_circle div a {
    cursor: inherit;
    
}
.about_us_content p {
    text-align: justify;
}
.about_us_content p ,.left_work p{
    text-align: justify;
}
#header {
    position: fixed;
    z-index: 100;
    background: #f0b819;
    width: 100%; padding: 0; margin: 0;
}